name: Build Addon File

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-release:
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: python build.py -v $GITHUB_REF_NAME
      - name: Upload addon file to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: dist/*.ankiaddon
          file_glob: true
          tag: ${{ github.ref }}
          overwrite: true
