name: Build Addon File

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'

jobs:
  build-and-release:
    permissions:
      contents: write
    name: Build and Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - run: python build.py -v $GITHUB_REF_NAME
      - name: Upload addon file to release
        uses: ncipollo/release-action@v1
        with:
          artifacts: dist/*.ankiaddon
          allowUpdates: true
          replacesArtifacts: true
          draft: true
          